<div ng-controller="IndexController">

    <super-navbar>
        <super-navbar-title>
            Index
        </super-navbar-title>
        <super-navbar-button ng-click="save()" side="right">
            ok
        </super-navbar-button>
    </super-navbar>

    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner" class="card">
        <div class="item">
            <label class="item item-input item-floating-label">
                <input type="text" ng-model="user.first_name" placeholder="First Name" />
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" ng-model="user.last_name" placeholder="Last Name" />
            </label>
            <label class="item item-input item-floating-label">
                <input type="email" ng-model="user.email" placeholder="Email" />
            </label>
        </div>

        <div class="item item-image item-image-bg" ng-click="pickPhoto()">
            <img src="{{user.avatar}}">
        </div>
    </div>

</div>