<div class="padding" ng-controller="FeedController">

    <super-navbar>
        <super-navbar-title>
            News Feed
        </super-navbar-title>
    </super-navbar>


    <div ng-repeat="p in posts | orderBy:'date_created':true">
        <div class="list card" ng-init="p.likes = p.likes || []">
            <div class="item item-avatar">
                <img src="{{p.user.avatar}}">
                <h2>{{p.user.first_name}} {{p.user.last_name}}</h2>
                <p>{{p.date_created | date:'medium'}}</p>
                <p ng-if="p.user.id == user.id" ng-click="delete(p)">Delete</p>
            </div>
            <div class="item item-body">
                <div ng-show="p.photo"><img class="full-image" src="delorean.jpg">
                </div>
                <p>
                    {{p.content}}
                </p>
                <p>
                    {{p.likes_count || 0}} <i class="icon super-heart"></i>
                    <span ng-show="(p.likes | filter:{id: user.id}).length == 0">
                        <a href="#" class="subdued" ng-click="like(p)"> Like</a>
                    </span>
                    <!--<a href="#" class="subdued">5 Comments</a>-->
                </p>
            </div>
        </div>
    </div>
</div>